body
{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header
{
    text-align: center;
    padding: 20px;
}

.header h1
{
    margin-bottom: 5px;
    color: #333;
}

.header p
{
    margin-bottom: 15px;
    color: #666;
}

#btn
{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

#btn:hover
{
    transform: translateY(-2px);
}

.container
{
    width: 960px;
    height: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
    background-color: white;
}


.square
{
    border: 1px solid #d1d5db;
    box-sizing: border-box;
}